<div class="col-lg-8 col-lg-8 px-lg-0">
  <div class="menu_main">
    <nav class="navbar navbar-expand-lg navbar-dark p-lg-0">
      <a class="d-lg-none" href="https://vscn011023.vercel.app/" style="width: 25%"
        ><img
          src="https://vscn011023.vercel.app/./uploads/files/2020/09/06/vesinhcongnghiep-logo.png"
          alt="logo header 2" /></a
      ><button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav headMenu">
          <li class="active nav-item menu_item">
            <a
              class="nav-link sub-link"
              data-toggle=""
              href="https://vscn011023.vercel.app/"
              title="Trang chủ"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item menu_item">
            <a
              class="nav-link sub-link"
              data-toggle=""
              href="https://vscn011023.vercel.app/gioi-thieu/ve-sinh-cong-nghiep-nam-sao.html"
              title="Giới thiệu"
              >Giới thiệu</a
            >
          </li>
          <li class="nav-item dropdown menu_item">
            <a
              class="dropdown-item dropdown-toggle nav-link"
              data-toggle="dropdown"
              href="https://vscn011023.vercel.app/dich-vu"
              title="Dịch vụ"
              >Dịch vụ</a
            >
            <ul class="nav dropdown-menu hide">
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/tin-tuc/quy-trinh-ve-sinh-nha-xuong-chuan-gmp"
                  title="Vệ Sinh Nhà Xưởng"
                  >Vệ Sinh Nhà Xưởng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/lau-kinh-chuyen-nghiep-nhieu-nam-kinh-nghiem"
                  title="Dịch vụ lau kính"
                  >Dịch vụ lau kính</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/dich-vu-lau-kinh-nha-cao-tang-chuyen-nghiep-gia-tiet-kiem"
                  title="Lau kính nhà cao tầng"
                  >Lau kính nhà cao tầng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/dich-vu-tap-vu-van-phong"
                  title="Tạp vụ văn phòng"
                  >Tạp vụ văn phòng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/ve-sinh-nha-cua-dich-vu-hoan-hao-cho-gia-dinh-hien-dai"
                  title="Vệ Sinh Nhà Cửa"
                  >Vệ Sinh Nhà Cửa</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/dich-vu-ve-sinh-nha-o-sau-xay-dung-nhanh-chong-chuyen-nghiep"
                  title="Vệ Sinh Nhà Sau Xây Dựng"
                  >Vệ Sinh Nhà Sau Xây Dựng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/dich-vu-giat-ghe-sofa-tai-nha"
                  title="Giặt Ghế Sofa"
                  >Giặt Ghế Sofa</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/giat-tham-van-phong-dinh-ky-tai-tp-ho-chi-minh"
                  title="Giặt thảm văn phòng	"
                  >Giặt thảm văn phòng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/ve-sinh-bang-hieu-chuyen-nghiep"
                  title="Vệ sinh bảng hiệu"
                  >Vệ sinh bảng hiệu</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/dich-vu-giat-ghe-van-phong-chuyen-nghiep-tai-thanh-pho-ho-chi-minh"
                  title="Giặt Ghế Văn Phòng"
                  >Giặt Ghế Văn Phòng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu/giat-rem-cua-dich-vu-cho-moi-gia-dinh"
                  title="Giặt rèm cửa"
                  >Giặt rèm cửa</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/dich-vu"
                  title="Tất cả dịch vụ"
                  >Tất cả dịch vụ</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown menu_item">
            <a
              class="dropdown-item dropdown-toggle nav-link"
              data-toggle="dropdown"
              href="https://vscn011023.vercel.app/bang-gia"
              title="Bảng giá"
              >Bảng giá</a
            >
            <ul class="nav dropdown-menu hide">
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/bang-gia/bang-gia-dich-vu-ve-sinh-nha-pho-sau-xay-dung-khu-vuc-tphcm"
                  title="Bảng giá dịch vụ vệ sinh nhà phố"
                  >Bảng giá dịch vụ vệ sinh nhà phố</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/bang-gia/bang-gia-ve-sinh-can-ho-nha-chung-cu-sau-xay-dung-tai-tphcm"
                  title="Bảng giá vệ sinh căn hộ"
                  >Bảng giá vệ sinh căn hộ</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/bang-gia/bang-gia-giat-tham-van-phong-tham-khao-nam"
                  title="Bảng giá giặt thảm"
                  >Bảng giá giặt thảm</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/bang-gia"
                  title="Bảng giá khác"
                  >Bảng giá khác</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown menu_item">
            <a
              class="dropdown-item dropdown-toggle nav-link"
              data-toggle="dropdown"
              href="https://vscn011023.vercel.app/san-pham"
              title="Sản phẩm"
              >Sản phẩm</a
            >
            <ul class="nav dropdown-menu hide">
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/may-hut-bui"
                  title="Máy hút bụi"
                  >Máy hút bụi</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/may-cha-san"
                  title="Máy chà sàn"
                  >Máy chà sàn</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/may-quet-rac"
                  title="Máy quét rác"
                  >Máy quét rác</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/may-giat-tham"
                  title="Máy giặt thảm"
                  >Máy giặt thảm</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/may-phun-ap-luc"
                  title="Máy phun áp lực"
                  >Máy phun áp lực</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/xe-vat-nuoc-lau-nha"
                  title="Xe vắt nước lau nhà"
                  >Xe vắt nước lau nhà</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown menu_item">
            <a
              class="dropdown-item dropdown-toggle nav-link"
              data-toggle="dropdown"
              href="https://vscn011023.vercel.app/tin-tuc"
              title="Tin tức"
              >Tin tức</a
            >
            <ul class="nav dropdown-menu hide">
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/tin-tuc"
                  title="Xem tất cả"
                  >Xem tất cả</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/tin-cong-ty"
                  title="Tin công ty"
                  >Tin công ty</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/tuyen-dung"
                  title="Tuyển dụng"
                  >Tuyển dụng</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/kinh-nghiem"
                  title="Kinh nghiệm - Mẹo vặt"
                  >Kinh nghiệm - Mẹo vặt</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/ve-sinh-cong-nghiep"
                  title="Tin chuyên ngành"
                  >Tin chuyên ngành</a
                >
              </li>
              <li class="nav-item menu_item">
                <a
                  class="nav-link sub-link"
                  data-toggle=""
                  href="https://vscn011023.vercel.app/tin-lau-kinh"
                  title="Tin tức lau kính"
                  >Tin tức lau kính</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item menu_item">
            <a
              class="nav-link sub-link"
              data-toggle=""
              href="https://vscn011023.vercel.app/lien-he"
              title="Liên hệ"
              >Liên hệ</a
            >
          </li>
          <div class="d-lg-none w-100">
            <form method="post" action="https://vscn011023.vercel.app/article/search">
              <meta
                itemprop="target"
                content="https://vscn011023.vercel.app/article/search/{keyword}"
              />
              <div class="tab-input">
                <input
                  class="form-control"
                  type="text"
                  name="keyword"
                  id="s"
                  placeholder="Tìm kiếm bài viết tại đây"
                  required
                /><button class="btn"><i class="flaticon-search"></i></button>
              </div>
            </form>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>
