<div class="cta">
  <div class="collapse" id="showcta">
    <div class="card card-body">
      <ul class="cta-lptech">
        <li class="cta-item-1">
          <a
            aria-label="gửi mail cho Vệ Sinh Công Nghiệp"
            href="http://messenger.com/t/360720404047428"
            target="_blank"
            rel="noopener nofollow"
            title="Đăng ký tư vấn Vệ Sinh Công Nghiệp"
            ><i class="flaticon-messenger"></i
          ></a>
        </li>
        <li class="cta-item-2">
          <a
            onclick="return gtag_report_conversion('tel:0936750009');"
            aria-label="gọi điện thoại cho Vệ Sinh Công Nghiệp"
            href="tel:0936750009"
            title="gọi điện thoại cho Vệ Sinh Công Nghiệp"
            rel="noopener"
          >
            <div class="animated infinite zoomIn mypage-alo-ph-circle"></div>
            <div
              class="animated infinite pulse mypage-alo-ph-circle-fill"
            ></div>
            <i class="flaticon-phone-ringing"></i
          ></a>
        </li>
        <li class="cta-item-3">
          <a
            target="_blank"
            href="https://zalo.me/0936750009"
            title="Chat zalo voi Vệ Sinh Công Nghiệp"
            rel="noopener nofollow"
            class="zalo"
            aria-label="gọi zalo cho Vệ Sinh Công Nghiệp"
            ><img
              class="lazy"
              src="http://localhost:5500/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
              data-src="http://localhost:5500/themes/vscn-2020/assets/images/icon-chat-zalo.png"
              alt="icon zalo"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <p class="call">
    <a class="btn btn-primary btn-cta"
      ><i class="flaticon-call-center-agent"></i
    ></a>
  </p>
</div>
