<footer>
  <div class="footer_top">
    <div class="logo_namsao">
      <ul class="p-0 m-0 mt-4">
        <li>
          <img
            class="lazy"
            src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
            data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/icons/star.png"
            alt="icon footer star 1"
            style="width: 20px"
            data-pagespeed-url-hash="2013785254"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />
        </li>
        <li>
          <img
            class="lazy"
            src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
            data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/icons/star.png"
            alt="icon footer star 2"
            style="width: 20px"
            data-pagespeed-url-hash="2013785254"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />
        </li>
        <li>
          <img
            class="lazy"
            src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
            data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/icons/star.png"
            alt="icon footer star 3"
            style="width: 20px"
            data-pagespeed-url-hash="2013785254"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />
        </li>
        <li>
          <img
            class="lazy"
            src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
            data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/icons/star.png"
            alt="icon footer star 4"
            style="width: 20px"
            data-pagespeed-url-hash="2013785254"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />
        </li>
        <li>
          <img
            class="lazy"
            src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
            data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/icons/star.png"
            alt="icon footer star 5"
            style="width: 20px"
            data-pagespeed-url-hash="2013785254"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <p class="footer_top_intro">
            Liên hệ với chúng tôi để nhận bảng báo giá dịch vụ vệ sinh miễn phí
          </p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer_top_link">
            <a
              onclick="return gtag_report_conversion('tel:0777085085');"
              href="tel:0777085085"
              >Yêu cầu báo giá</a
            >
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="footer_top_items">
            <div class="footer_top_icon">
              <img
                class="lazy"
                src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/telephone.png"
                alt="icon telephone 1"
                data-pagespeed-url-hash="2013785254"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </div>
            <div class="footer_top_content">
              <p class="title_c_top">Tư Vấn 01</p>
              <span>Phone: <a href="tel:028.3606 7875">028.3606 7875</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="footer_top_items">
            <div class="footer_top_icon">
              <img
                class="lazy"
                src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/telephone.png"
                alt="icon telephone 2"
                data-pagespeed-url-hash="2013785254"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </div>
            <div class="footer_top_content">
              <p class="title_c_top">Tư Vấn 02</p>
              <span>Phone: <a href="tel:028.3886 8899">028.3886 8899</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="footer_top_items">
            <div class="footer_top_icon">
              <img
                class="lazy"
                src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/telephone.png"
                alt="icon telephone 3"
                data-pagespeed-url-hash="2013785254"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </div>
            <div class="footer_top_content">
              <p class="title_c_top">HotLine 01</p>
              <span>Phone: <a href="tel:0967 246 349">0967 246 349</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="footer_top_items">
            <div class="footer_top_icon">
              <img
                class="lazy"
                src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets//images/telephone.png"
                alt="icon telephone 4"
                data-pagespeed-url-hash="2013785254"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </div>
            <div class="footer_top_content">
              <p class="title_c_top">HotLine 02</p>
              <span>Phone: <a href="tel:0936 750 009">0936 750 009</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="footerLogo">
            <img
              class="lazy"
              src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
              data-src="https://www.vesinh24h.com.vn/./uploads/files/2020/08/03/Logoamban.png"
              alt="icon logo 1"
              data-pagespeed-url-hash="2013785254"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
            />
          </div>
          <p>
            Dịch vụ của công ty Năm sao bao gồm: Vệ sinh công nghiệp, Vệ sinh
            nhà, Vệ sinh văn phòng, Vệ sinh nhà xưởng, Lau kính nhà cao tầng,
            Giặt thảm văn phòng, Giặt ghế sofa, Giặt ghế văn phòng vui lòng gọi
            số 0936 750 009 để được báo giá miễn phí.
          </p>
          <a
            href="http://online.gov.vn/Home/WebDetails/73995"
            target="_blank"
            rel="noopener nofollow"
            title="vesinhcongnghiep.com hiện đã có trong Danh sách website TMĐT bán hàng đã thực hiện thủ tục thông báo với Bộ Công Thương công bố tại Cổng thông tin Quản lý hoạt động TMĐT."
            class="dmca-badge"
            ><img
              class="lazy"
              src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
              data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/logoSaleNoti.png"
              style="width: 150px !important"
              alt="vesinhcongnghiep.com hiện đã có trong Danh sách website TMĐT bán hàng đã thực hiện thủ tục thông báo với Bộ Công Thương công bố tại Cổng thông tin Quản lý hoạt động TMĐT."
              data-pagespeed-url-hash="2013785254"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <p>TIN MỚI</p>
          <p class="head_footer"></p>
          <ul>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/cong-trinh-lau-kinh-toa-nha-trung-tam-hanh-chinh-binh-duong"
                title="Công trình: Lau kính tòa nhà Trung tâm Hành chính Bình Dương"
              >
                Công trình: Lau kính tòa nhà Trung tâm Hành chính Bình Dương
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/tap-the-ve-sinh-cong-nghiep-nam-sao-huong-ve-mien-trung"
                title="Tập thể Vệ Sinh Công Nghiệp Năm Sao hướng về Miền Trung"
              >
                Tập thể Vệ Sinh Công Nghiệp Năm Sao hướng về Miền Trung
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/hinh-thuc-thanh-toan-cong-ty-nam-sao"
                title="Hình thức thanh toán công ty Năm Sao"
              >
                Hình thức thanh toán công ty Năm Sao
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/chinh-sach-bao-mat-cong-ty-nam-sao"
                title="Chính sách bảo mật công ty Năm Sao"
              >
                Chính sách bảo mật công ty Năm Sao
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/tuyen-dung-nhan-vien-ve-sinh-cong-nghiep"
                title="Tuyển dụng nhân viên Vệ Sinh Công Nghiệp tại TPHCM"
              >
                Tuyển dụng nhân viên Vệ Sinh Công Nghiệp tại TPHCM
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/ve-sinh-ham-de-xe-toa-nha"
                title="Vệ sinh hầm để xe tòa nhà"
              >
                Vệ sinh hầm để xe tòa nhà
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/ve-sinh-phan-tho-va-tinh-sau-xay-dung"
                title="Vệ sinh phần thô và phần tinh sau xây dựng"
              >
                Vệ sinh phần thô và phần tinh sau xây dựng
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/dich-vu-ve-sinh-nha-may-xi-nghiep"
                title="Dịch vụ vệ sinh nhà máy, xí nghiệp"
              >
                Dịch vụ vệ sinh nhà máy, xí nghiệp
              </a>
            </li>
            <li>
              <a
                href="https://www.vesinh24h.com.vn/tin-tuc/luat-lao-dong-lien-quan-den-nguoi-giup-viec"
                title="Luật Lao động liên quan đến người giúp việc"
              >
                Luật Lao động liên quan đến người giúp việc
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
          <p>DỊCH VỤ</p>
          <p class="head_footer"></p>
          <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
            <li itemprop="name">
              <a
                itemprop="url"
                href="https://www.vesinh24h.com.vn/tin-cong-ty"
                title="Tin Công Ty"
              >
                Tin Công Ty
              </a>
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                href="https://www.vesinh24h.com.vn/tuyen-dung"
                title="Tuyển Dụng"
              >
                Tuyển Dụng
              </a>
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                href="https://www.vesinh24h.com.vn/tin-tuc/chinh-sach-bao-mat-cong-ty-nam-sao"
                title="Chính sách bảo mật"
              >
                Chính sách bảo mật
              </a>
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                href="https://www.vesinh24h.com.vn/tin-tuc/hinh-thuc-thanh-toan-cong-ty-nam-sao"
                title="Hình thức thanh toán"
              >
                Hình thức thanh toán
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <p>THÔNG TIN LIÊN HỆ</p>
          <p class="head_footer"></p>
          <div class="footer_intro_bottom">
            <ul>
              <li>CÔNG TY TNHH VỆ SINH CÔNG NGHIỆP NĂM SAO</li>
              <li>
                <img
                  class="lazy"
                  data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/footer-ic1.png"
                  src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                  alt="icon loader 1"
                  data-pagespeed-url-hash="2013785254"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />
                121/32 Đường Trung Mỹ Tây 13, Phường Trung Mỹ Tây, Quận 12,
                TPHCM
              </li>
              <li>
                <img
                  class="lazy"
                  data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/footer-ic2.png"
                  src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                  alt="icon loader 2"
                  data-pagespeed-url-hash="2013785254"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />
                028.3886 8899 - 0936 750 009
              </li>
              <li>
                <img
                  class="lazy"
                  data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/footer-ic3.png"
                  src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                  alt="icon loader 3"
                  data-pagespeed-url-hash="2013785254"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />
                vesinhnamsao@gmail.com
              </li>
              <li>
                <img
                  class="lazy"
                  data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/footer-ic4.png"
                  src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                  alt="icon loader 4"
                  data-pagespeed-url-hash="2013785254"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />
                http://vesinhcongnghiep.com
              </li>
              <a
                href="https://www.dmca.com/Protection/Status.aspx?ID=19a709b7-2311-40b9-8a49-3521875aad73&refurl=https://www.vesinh24h.com.vn/gioi-thieu/ve-sinh-cong-nghiep-nam-sao"
                target="_blank"
                rel="noopener nofollow"
                title="Nội dung từ website này được đăng ký bản quyền DMCA. Không được sao chép khi chưa có sự cho phép của LPTech EC Co,.. ltd."
                class="dmca-badge"
                ><img
                  class="lazy"
                  src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/owlcarousel/assets/ajax-loader.gif"
                  data-src="https://www.vesinh24h.com.vn/themes/vscn-2020/assets/images/dmca-badge.png"
                  style="width: 150px !important"
                  alt="Nội dung từ website này được đăng ký bản quyền DMCA. Không được sao chép khi chưa có sự cho phép của LPTech EC Co,.. ltd."
                  data-pagespeed-url-hash="2013785254"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              /></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ab-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <p>Được phát triển bởi GZO media</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <p>Copyright © 2023 Vệ sinh công nghiệp Năm Sao</p>
        </div>
      </div>
    </div>
  </div>
</footer>
