<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="footer-section footer-section_info">
          <div class="footer-section__title">GARAGE Ô TÔ Auto 43 Đà Nẵng</div>
          <div class="footer-info">
            Được biết đến là trung tâm uy tín, nơi đáng tin cậy của những người
            yêu xế cưng tại khu vực. Chúng tôi cung cấp dịch vụ: máy gầm đồng
            sơn; rửa xe; sơn, sửa chữa, thay thế phụ tùng, lắp đặt nội thất, đồ
            chơi xe ô tô; tư vấn bảo hiểm, tư vấn mua bán xe ô tô.
          </div>
          <div class="footer-contacts">
            <div class="footer-contacts__item">
              <i class="ic icon-location-pin"></i
              ><span class="address_gara"></span>
            </div>
            <div class="footer-contacts__item">
              <i class="ic icon-envelope"></i><span class="email_gara"></span>
            </div>
            <div class="footer-contacts__item">
              <i class="ic icon-earphones-alt"></i
              ><span class="phone-1"></span> - <span class="phone-2"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <section class="footer-section footer-section_link">
          <h3 class="footer-section__title">Thông tin cần biết</h3>
          <ul class="footer-list list-unstyled">
            <li>
              <a id="footer1_HyperLink7" href="./">Trang chủ</a>
            </li>
            <li>
              <a id="footer1_HyperLink8" href="gioi-thieu.html">Giới thiệu</a>
            </li>
            <li>
              <a id="footer1_HyperLink9" href="dich-vu.html">Dịch vụ</a>
            </li>

            <li>
              <a id="footer1_rpt_mmnews_HyperLink4_0" href="n-1/tin-tuc.html"
                >Tin tức</a
              >
            </li>

            <li>
              <a id="footer1_rpt_mmnews_HyperLink4_1" href="n-6/bao-gia.html"
                >Báo giá</a
              >
            </li>

            <li>
              <a id="footer1_HyperLink6" href="lien-he.html">Liên hệ</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-md-4">
        <section class="footer-section footer-section_subscribe">
          <h3 class="footer-section__title">ĐẶT LỊCH ONLINE</h3>
          <form class="footer-form">
            <div class="footer-form__info">
              Để không phải chờ đợi, hãy liên hệ đặt lịch trước với Garage Auto
              43 để được giữ chỗ không phải chờ đợi
            </div>
            <a
              href="tel:0974039829"
              id="footer1_hotline"
              class="btn btn-sm btn-primary"
              ><b
                ><i class="fa fa-phone" aria-hidden="true"></i>
                <span class="phone_number_gara"></span></b
            ></a>
          </form>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-copyright">
          Bản quyền thuộc về Garage Auto 43 - Thiết kế website bởi GZO media
        </div>
      </div>
    </div>
    <span class="footer__btn-up js-scroll-top"
      ><i class="ic fas fa-angle-up"></i
      ><img src="assets/media/general/go_top.png" alt="go top"
    /></span>
  </div>
</footer>

